.keyframes(slideUp, { from {
  .prefix(transform, translate3d(0, 100%, 0));
  //opacity: 0;
} to {
    .prefix(transform, translate3d(0, 0, 0));
    //opacity: 1;
  } });

.keyframes(slideDown, { from {
  .prefix(transform, translate3d(0, 0, 0));
  //opacity: 1;
} to {
    .prefix(transform, translate3d(0, 100%, 0));
    //opacity: 0;
  } });

.keyframes(fadeIn, { from {
  opacity: 0;
} to {
    opacity: 1;
  } });

.keyframes(fadeOut, { from {
  opacity: 1;
} to {
    opacity: 0;
  } });

.m7-animate-slide-up {
  .prefix(animation, slideUp ease .3s forwards);
}

.m7-animate-slide-down {
  .prefix(animation, slideDown ease .3s forwards);
}

.m7-animate-fade-in {
  .prefix(animation, fadeIn ease .3s forwards);
}

.m7-animate-fade-out {
  .prefix(animation, fadeOut ease .3s forwards);
}