.prefix(@style; @value...) {
  -webkit-@{style}: @value;
    @{style}: @value;
}

.keyframes(@name; @content) {
  @-webkit-keyframes @name { @content();
  }
  @keyframes @name { @content();
  }
}

.setTapColor() {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.setLine(@style; @top: 0; @right: 0; @bottom: 0; @left: 0; @z-index: 2; @scale; @lineColor) {
  content: " ";
  position: absolute;
  z-index: @z-index;
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
  height: 1px;
    @{style}: 1px solid @lineColor;
  color: @lineColor;
  .prefix(transform-origin, 0 0);
  .prefix(transform, @scale);
}

.setLeftLine(@lineColor: rgba(0, 0, 0, 0.1)) {
  .setLine(border-left, 0, auto, 0, 0, 2, scaleX(0.5), @lineColor);
}

.setTopLine(@lineColor: rgba(0, 0, 0, 0.1)) {
  .setLine(border-top, 0, 0, auto, 0, 2, scaleY(0.5), @lineColor);
}

.setRightLine(@lineColor: rgba(0, 0, 0, 0.1)) {
  .setLine(border-right, 0, 0, 0, auto, 2, scaleX(0.5), @lineColor);
}

.setBottomLine(@lineColor: rgba(0, 0, 0, 0.1)) {
  .setLine(border-bottom, auto, 0, 0, 0, 2, scaleY(0.5), @lineColor);
}

.arrowDefault(@size; @color; @land) {
  display: inline-block;
  height: @size;
  width: @size;
  border-color: @color;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -@land;
}

/** 方向，大小，颜色，厚度 */
.setArrow(@direction; @size; @color; @land) when (@direction = left) {
  .arrowDefault(@size, @color, @land);
  border-width: 0 0 @land @land;
}

.setArrow(@direction; @size; @color; @land) when (@direction = up) {
  .arrowDefault(@size, @color, @land);
  border-width: @land 0 0 @land;
}

.setArrow(@direction; @size; @color; @land) when (@direction = right) {
  .arrowDefault(@size, @color, @land);
  border-width: @land @land 0 0;
}

.setArrow(@direction; @size; @color; @land) when (@direction = down) {
  .arrowDefault(@size, @color, @land);
  border-width: 0 @land @land 0;
}