@colorPrimary: #07C160;
@colorWarn: #FA5151;
@textColorTitle: rgba(0, 0, 0, 0.9);
@textColorDesc: rgba(0, 0, 0, 0.5);

@lineColorLight: rgba(0, 0, 0, 0.1);

@cellLineHeight: 1.41176471;
@cellFontSize: 17px;
@cellTipsFontSize: 14px;
@cellsMarginTop: 8px;
@cellGapV: 16px;
@cellGapH: 16px;

@pickerItemHeight: 34px;

@btnWidth: 184px;
@btnDefaultGap: @cellGapV;
@btnFontSize: 17px;
@btnFontColor: #FFFFFF;
@btnBorderRadius: 4px;
@btnDisabledFontColor: rgba(0, 0, 0, 0.18);
@btnDisabledBg: #fafafa;
//---
@btnPrimaryBg: #07C160;
@btnPrimaryFontColor: #ffffff;
@btnPrimaryActiveFontColor: #ffffff;
@btnPrimaryActiveBg: #06AD56;
//---
@btnDefaultBg: #F2F2F2;
@btnDefaultFontColor: #06AE56;
@btnDefaultActiveFontColor: #06AE56;
@btnDefaultActiveBg: #D9D9D9;
//---
@btnWarnBg: #F2F2F2;
@btnWarnFontColor: #FA5151;
@btnWarnActiveFontColor: #FA5151;
@btnWarnActiveBg: #D9D9D9;

@import "./css/fn";
@import "./css/reset";
@import "./css/weui-font";
@import "./css/weui-icon_font";
@import "./css/animate";
@import "./css/router";
@import "./css/content";

@import "./component/process/process";
@import "./component/form/button";
@import "./component/input/input";
@import "./component/selector/selector";