<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="by using the clever m7">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <% if(htmlWebpackPlugin.options.icon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.icon %>">
  <% } else { %>
    <link rel="shortcut icon" href="#">
  <% } %>
  <% for(var i in htmlWebpackPlugin.options.env.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.env.css[i] %>">
  <% } %>
  <% for(var i in htmlWebpackPlugin.options.env.js) { %>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.env.js[i] %>"></script>
  <% } %>
</head>
<body ontouchstart>
  <span id="m7-boot-config" style="display: none;"><%= JSON.stringify(htmlWebpackPlugin.options.env) %></span>
  <div id="m7-main"></div>
</body>
</html>